.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
  .loader-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.nav-link {
  color:#cfb56a ;
}

.navbar-brand {
  color:#cfb56a ;
  font-size:30px;
}

.btn {
  --bs-btn-color: #212529;
  color: #cfb56a;
  border: rgba(0, 0, 0, 0.9);
  background-color:rgba(0, 0, 0, 0.9);
}

.btn-primary{
  --bs-btn-bg: #f4d67c;
  --bs-btn-border-color: #f4d67c;
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: #cfb56a;
  --bs-btn-hover-border-color: #cfb56a;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: rgb(0, 0, 0);;
  --bs-btn-active-bg: #cfb56a;
  --bs-btn-active-border-color: #cfb56a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 0, 0);;
  --bs-btn-disabled-bg: #f4d67c;
  --bs-btn-disabled-border-color: #f4d67c;

}

.card {
  
  box-sizing: border-box;
  width: 350px;
  height: 450px;
}



.card-title {
  font-size: 15px;
}

.navbar-toggler{
  background-color: #f4d67c;
  border :#f4d67c
}

.navbar-nav {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #ffffff
}

.navbar{
 
    --bs-navbar-brand-hover-color: #ffffff;
}

.offcanvas-header{
  background-color: #212529;
  color: #cfb56a;
}